<footer class="footer">
  <div class="container">

  	<div class="spie" style="margin-top: 20px; margin-bottom: 10px; width: 100%">
  		<a href="http://spie.org/"><img src="/SPIE.svg"></a>
  		<br>
  		<p style="color: black; font-size: smaller;">Exclusive International Sponsor</p>
  		<hr>
  	</div>

	<br>

    <div class="copyright  typeset" style="margin-top: 1px;">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
