<footer class="footer">
  <div class="container">

  	<div class="spie" style="margin-top: 20px; margin-bottom: 10px; width: 100%">
  		<a href="http://spie.org/"><img src="/SPIE.svg"></a>
  		<br>
  		<p style="color: black; font-size: smaller;">Exclusive International Sponsor</p>
  		<hr>
  	</div>

	<br>

  <p style="font-size: smaller;">We also appreciate sponsorship from:</p>

  <div class="sponsors" style="margin-top: 20px; margin-bottom: 10px; width: 100%">
    <div style="margin-top: 9pt; margin-right: 15pt; :margin-bottom: auto; float: left;">
      <a href="https://www.coherent.com/"><img src="/COHRlogo.png" width="100" align="middle"></a>
    </div>
    <div style="margin-top: 4pt; margin-right: 15pt; :margin-bottom: auto; float: left;">
      <a href="https://epsrc.ukri.org/"><img src="/EPSRC-Logo.jpg" width="100" align="middle"></a>
    </div>
    <div style="margin-top: auto; margin-right: 15pt; :margin-bottom: auto; float: left;">
      <a href="http://www.m2lasers.com/"><img src="/M2.png" width="50" align="middle"></a>
    </div>
    <div style="margin-top: auto; margin-right: 0pt;  margin-bottom: auto; float: left;">
      <a href="https://www.nikon.com/"><img src="/nikonlogo.svg" width="50" align="middle"></a>
    </div>
    <div style="margin-top: -25pt; margin-right: 0pt;  margin-bottom: auto; float: left;">
      <a href="https://www.st-andrews.ac.uk/"><img src="/StAndrews-Logo.png" width="100" align="middle"></a>
    </div>
    <div style="margin-top: 9pt; margin-right: 15pt;  margin-bottom: auto; float: left;">
      <a href="https://www.sulsa.ac.uk/"><img src="/Sulsa-Logo.png" width="100" align="middle"></a>
    </div>
    <div style="margin-top: 4pt; margin-right: 10pt;  margin-bottom: auto; float: left;">
      <a href="https://www.supa.ac.uk/"><img src="/SUPA_Logo.png" width="80" align="middle"></a>
    </div>
  </div>

  <div class="copyright  typeset" style="margin-top: 1px;">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
  </div>

    {% include nav-footer.html %}
  </div>
</footer>
